* {
  box-sizing: border-box;
}

body {
  color: black;
  font-size: 1rem;
  line-height: 1;
  display: grid;
  grid-template-areas: "header" "header" "header"
                       "aside"  "main"   "main"                   
                       "footer" "footer" "footer"                   ;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 576px;
  margin: 0 auto;
}

header {
  background-image: url(/img/bg-header.jpg);
  height: 15rem;
  background-size: cover;
}

header nav {
  height: 100%;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

header ul li + li {
  padding-left: 3rem;
}

header ul li a {
  color: white;
  font-size: 1.5rem;
}

header ul li a:hover {
  color: pink;
}

main {
  display: grid;
  text-align: center;
}

main article:nth-of-type(even) {
    margin-left: 5rem;
}

main section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-area: 1 / 2;
}

main section h1 {
    flex-basis: 100%;
}

main img {
  width: clamp(350px, 50%, 500px);
}

main article:not(main section article:first-of-type) {
  display: none;
}

main aside p::first-letter {
    font-size: 4rem;
    margin: 0;
}

footer {
    text-align: center;
    height: 5rem;
    margin: 1rem 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  main section article:not(main section article:nth-of-type(n+3)) {
    display: block;
  }

  main article {
    width: 35%;
}
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    main {
        flex-wrap: unset;
        flex-direction: row-reverse;
    }

    main section article:not(main article:first-of-type) {
        display: block;
      }

      aside {
        width: 10rem;
      }
}